// Custom styles.

h1 {
  font-size: 150%;
  margin: 0.67em 0;
  padding: 5px 20px 5px 10px;
  border-radius: 3px;
  border-left: 8px solid #006969;
  background: #9090FF;
}

h2 {
  font-size: 130%;
  padding: 3px 20px 3px 20px;  
  border-radius: 3px;
  border-left: 6px solid #008787;
  background: #b4b4ff;
}

h3 {
  font-size: 110%;
  padding: 1px 20px 3px 30px;
  border-radius: 3px;
  border-left: 4px solid #00a5a5;
  background: #d8d8ff;
}



//https://vxhly.github.io/2017/10/hexo-next-advanced-settings/
//修改引用格式 (blockquote)
blockquote {
  margin: 10 -20px 20px;
  padding: 1px 20px 0px 20px;
  //font-style: italic;
  background: #eae6f3;
  background: rgba(0,0,0,0.06);
  border-left: 4px solid #a6a6a6;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #D3154B; //字体颜色
}





